doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header 
            h1 Noom
            p Hello!! Your nickname is : 
                b 
        main 
            div#welcome
                form#name(style="display:flex")
                    input(type="text", placeholder="change nickname", required, style="margin-top: 1rem; margin-right: 1rem;")
                    button(style="color: var(--color-link); background-color: white;") Save 
                form#join(style="display:flex")
                    input(type="text", placeholder="room name", required, style="margin-top: 1rem; margin-right: 1rem;")
                    button Enter Room
            nav#roomList 
                ul 
                    p Click the drop-down menu to enter the room
                    li 
                        a(style="cursor:default") Open Rooms List 
                            span
                        ul
            div#room
                h3 
                article 
                    aside 
                        p If you want to leave the room 
                            a.room__leave(style="cursor:pointer") Click here
                section
                    aside(style="width: var(--width-card-wide); height: 300px; overflow:scroll")
                        ul
                form#msg(style="display:flex")
                    input(type="text", placeholder="message", required, style="margin-top: 1rem; margin-right: 1rem;")
                    button Send
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")